.storyContainer {
    padding: 20px;
    text-align: center;
    background-color: #1c1c1c;
    color: white;
    min-height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
}
.story-page {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    font-size: 30px;
    margin: 0;
    padding: 30px;
    height: 85vh;
    width: 100%;
    background-color: rgb(65, 65, 65);
    background: linear-gradient(135deg, rgba(65, 65, 65, 0.9), rgba(25, 25, 25, 0.9)); /* Gradient effect */
    color: white;
    border-radius: 20px;
    z-index: 10;
    box-shadow: 0 12px 24px rgba(245, 69, 0, 0.4), inset 0 2px 10px rgba(0, 0, 0, 0.3); /* Outer and inner shadow */
    overflow-y: auto; /* Enable vertical scrolling if content overflows */
}

.back-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333; /* Dark background for the button */
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor */
    transition: background-color 0.3s; /* Transition effect */
}

.back-button:hover {
    background-color: #232323; /* Dark background for the button */
}
