.story-page {
    padding: 20px;
    text-align: center;
    background-color: #1c1c1c;
    color: white;
    min-height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
    font-size: 30px;
}

.back-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50; /* Green background */
    color: white; /* White text */
    border: none; /* No border */
    border-radius: 5px; /* Rounded corners */
    cursor: pointer; /* Pointer cursor */
    transition: background-color 0.3s; /* Transition effect */
}

.back-button:hover {
    background-color: #45a049; /* Darker green on hover */
}
